.is_home{
	.header-cart {
		.cct-cart-content {
			padding: 15px;
			background: #ffffff;
			top: 85px;
			width: 250px;
			right: 0;
			@extend %dropdowMenuNone;
			p {
				margin: 0;
			}
			.woocommerce-mini-cart{
				list-style: none;
				padding: 0 0 0 10px;
				margin: 0;
				.woocommerce-mini-cart-item{
					display: block;
					padding-bottom: 20px;
					.remove_from_cart_button{
						display: inline-block;
						float: right;
						color: #303030 !important;
						&:hover{
							background: none;
						}
					}
					img{
						display: inline-block;
						float: left;
						min-width: 60px;
						max-width: 60px;
						height: auto;
						margin-right: 10px;
					}
					a{
						display: inline-block;
						text-decoration: none;
						p{
							display: inline-block;
							font-weight: 400;
							font-size: 14px;
							line-height: 22px;
							color: #303030;
							overflow: hidden;
							text-overflow: ellipsis;
							-webkit-line-clamp: 1;
							-webkit-box-orient: vertical;
							display: -webkit-box;
							max-width: 110px;
						}
					}
					span{
						display: none;
					}
				}
			}
			.woocommerce-mini-cart__total{
				padding-top: 15px;
				padding-bottom: 15px;
			}
			.woocommerce-mini-cart__buttons{
				a{
					text-align: center;
					display: block;
					margin-bottom: 10px;
					text-decoration: none;
					color: $color-white;
					background-color: #219CEB;
					padding: 10px 15px;
					font-size: 14px;
					border-radius: 17px;
				}
			}
		}
		i {
			color: #0252B4;
			-webkit-text-stroke: 1px;
			@media (max-width: 1306px) {
				-webkit-text-stroke: 0;
			}
			&.fa-angle-down {
				color: $color-title;
			}
		}
		.cct-btn-cart {
			color: $color-title;
			text-decoration: none;
			@media (max-width: 1306px) {
				font-size: 14px;
			}
		}
		.cct-icon-cart {
			@media (max-width: 1306px) {
				padding: 7px 10px;
			}
			padding: 10px 15px;
			background: $color-white;
			border-radius: 25px;
			display: flex;
			align-items: center;
			cursor: pointer;
			.cct-btn-cart{
				.fa-shopping-cart{
					font-size: 22px;
				}
				.cart-count{
					padding-left: 10px;
					font-size: 18px;
					line-height: 24px;
				}
			}
			i.fa-angle-down {
				margin-left: 10px;
			}
			&:hover {
				.cct-cart-content {
					@extend %dropdowMenuShow;
				}
			}
		}
	}
}
.header-cart {
	.cct-cart-content {
		padding: 15px;
		background: white;
		top: 85px;
		width: 250px;
		right: 0;
		@extend %dropdowMenuNone;
		p {
			margin: 0;
		}
		.woocommerce-mini-cart{
			list-style: none;
			padding: 0 0 0 10px;
			margin: 0;
			.woocommerce-mini-cart-item{
				display: block;
				padding-bottom: 20px;
				.remove_from_cart_button{
					display: inline-block;
					float: right;
					color: #303030 !important;
					&:hover{
						background: none;
					}
				}
				img{
					display: inline-block;
					float: left;
					min-width: 60px;
					max-width: 60px;
					height: auto;
					margin-right: 10px;
				}
				a{
					display: inline-block;
					text-decoration: none;
					p{
						display: inline-block;
						font-weight: 400;
						font-size: 14px;
						line-height: 22px;
						color: #303030;
						overflow: hidden;
						text-overflow: ellipsis;
						-webkit-line-clamp: 1;
						-webkit-box-orient: vertical;
						display: -webkit-box;
						max-width: 110px;
					}
				}
				span{
					display: none;
				}
			}
		}
		.woocommerce-mini-cart__total{
			padding-top: 15px;
			padding-bottom: 15px;
		}
		.woocommerce-mini-cart__buttons{
			padding: 20px;
			a{
				text-align: center;
				display: block;
				margin-bottom: 15px;
				text-decoration: none;
				color: $color-white;
				background-color: #219CEB;
				padding: 10px 15px;
				font-size: 14px;
				border-radius: 17px;
			}
		}
	}
	i {
		color: white;
		-webkit-text-stroke: 1px;
		@media (max-width: 1306px) {
			-webkit-text-stroke: 0;
		}
		&.fa-angle-down {
			color: white;
		}
	}
	.cct-btn-cart {
		color: white;
		text-decoration: none;
		@media (max-width: 1306px) {
			font-size: 14px;
		}
	}
	.cct-icon-cart {
		@media (max-width: 1306px) {
			padding: 7px 10px;
		}
		padding: 10px 15px;
		background: #219CEB;
		border-radius: 25px;
		display: flex;
		align-items: center;
		cursor: pointer;
		.cct-btn-cart{
			.fa-shopping-cart{
				font-size: 22px;
			}
			.cart-count{
				padding-left: 10px;
				font-size: 18px;
				line-height: 24px;
			}
		}
		i.fa-angle-down {
			margin-left: 10px;
		}
		&:hover {
			.cct-cart-content {
				@extend %dropdowMenuShow;
			}
		}
	}
}